<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Certifications</title>
  <!-- BootStrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Lightbox CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
  <!-- Custom Css -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Indie+Flower|Pacifico" rel="stylesheet">
</head>

<body>

  <section id="header">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"><%= personName %></a>
        <button class="navbar-toggler anim-btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
          <div class="anim-icon"><span></span><span></span><span></span><span></span></div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="<%= homeURL %>"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= portfolioURL %>"><i class="fas fa-book"></i> Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="<%= certificationsURL %>"><i class="fas fa-certificate"></i> Certifications</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <section id="certifications-body">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Certifications</h1>
        <svg class="pulse" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <circle id="Oval" cx="512" cy="512" r="512"></circle>
          <circle id="Oval" cx="512" cy="512" r="512"></circle>
          <circle id="Oval" cx="512" cy="512" r="512"></circle>
        </svg>
        <p class="lead"><i class="fa fa-quote-left"></i> Below you will find all the certifications I acquired with hard work from a variety of institutions. You will be able to check the original sources from the official url that i have linked. <i
            class="fa fa-quote-right"></i></p>
      </div>
    </div>

    <div class="container-fluid">
      <h1>Elements of AI</h1>
      <hr>
      <div class="row">
        <div class="col-lg-12"><a href="/assets/certificate-elements-of-ai.png" data-toggle="lightbox"><img src="/assets/certificate-elements-of-ai.png" class="img-fluid rounded shadow-sm p-3 mb-5 bg-white" alt="elements of ai certification"></a></div>
        <div class="col-lg-12 url-certificate"><a href="https://certificates.mooc.fi/validate/dbuu8old3qt" target="_blank"><i class="fab fa-searchengin"></i> Check it online</a></div>
      </div>
      <h1>DEV210x: Introduction to C++</h1>
      <hr>
      <div class="row">
        <div class="col-lg-12"><a href="/assets/certificate-microsoft-edx.png" data-toggle="lightbox"><img src="/assets/certificate-microsoft-edx.png" class="img-fluid rounded shadow-sm p-3 mb-5 bg-white" alt="elements of ai certification"></a></div>
        <div class="col-lg-12 url-certificate"><a href="https://courses.edx.org/certificates/50b228addf7d4432b68f213174e5bfeb" target="_blank"><i class="fab fa-searchengin"></i> Check it online</a></div>
      </div>
      <h1>CS50: Introduction to Computer Science</h1>
      <hr>
      <div class="row">
        <div class="col-lg-12"><a href="/assets/certificate-harvard-edx.png" data-toggle="lightbox"><img src="/assets/certificate-harvard-edx.png" class="img-fluid rounded shadow-sm p-3 mb-5 bg-white" alt="elements of ai certification"></a></div>
        <div class="col-lg-12 url-certificate"><a href="https://courses.edx.org/certificates/a01637876017407f84bdaa62ea9b3be4" target="_blank"><i class="fab fa-searchengin"></i> Check it online</a></div>
      </div>
      <h1>Unreal Engine 4: The Complete Beginner's Course</h1>
      <hr>
      <div class="row">
        <div class="col-lg-12"><a href="/assets/certificate-ue4-udemy.jpg" data-toggle="lightbox"><img src="/assets/certificate-ue4-udemy.jpg" class="img-fluid rounded shadow-sm p-3 mb-5 bg-white" alt="elements of ai certification"></a></div>
        <div class="col-lg-12 url-certificate"><a href="https://www.udemy.com/certificate/UC-46G60BM7/" target="_blank"><i class="fab fa-searchengin"></i> Check it online</a></div>
      </div>
      <h1>The Complete 2019 Web Development Bootcamp</h1>
      <hr>
      <div class="row">
        <div class="col-lg-12"><a href="/assets/certificate-web-development-udemy.jpg" data-toggle="lightbox"><img src="/assets/certificate-web-development-udemy.jpg" class="img-fluid rounded shadow-sm p-3 mb-5 bg-white" alt="certificate-web-development-udemy certification"></a></div>
        <div class="col-lg-12 url-certificate"><a href="https://www.udemy.com/certificate/UC-RVC8US4G/" target="_blank"><i class="fab fa-searchengin"></i> Check it online</a></div>
      </div>
    </div>
  </section>

  <a href="#header" class="back-to-top" title="Back to top">
    <i class="fa fa-arrow-circle-up"></i>
    <p>Back to Top</p>
  </a>

  <section id="footer">
    <div class="container-fluid">
      <div class="social-icons">
        <span>Find me:</span><a href="https://www.linkedin.com/in/emmanouil-tsikniadopoulos-75ba1560/" target="_blank"><i class="fab fa-linkedin fa-2x" title="LinkedIn"></i></a><a href="mailto:manos.tsik7@gmail.com?Subject=Hello%20Emmanouil" target="_top" title="Send me an email"><i class="fas fa-envelope fa-2x"></i></a>
      </div>
      <p>This page has been created by me! @<%= footerTimestamp %></p>
    </div>
  </section>

  <!-- jQuery JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- BootStrap JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- ScrollSpy JavaScript for Hide/Show effect -->
  <script src="/js/scrollspy.js" type="text/javascript" charset="utf-8"></script>
  <!-- LightBox Javascript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js" type="text/javascript" charset="UTF-8"></script>
  <!-- Custom JavaScript -->
  <script src="/js/utility.js" type="text/javascript" charset="utf-8"></script>

</body>

</html>
