<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Manos Web Resume</title>
  <!-- BootStrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Custom Css -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Indie+Flower|Pacifico" rel="stylesheet">
</head>

<body>

  <section id="header">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"><%= personName %></a>
        <button class="navbar-toggler anim-btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
          <div class="anim-icon"><span></span><span></span><span></span><span></span></div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="<%= homeURL %>"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= portfolioURL %>"><i class="fas fa-book"></i> Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= certificationsURL %>"><i class="fas fa-certificate"></i> Certifications</a>
            </li>
          </ul>
        </div>
      </nav>
      <nav class="navbar navbar-second navbar-expand-lg navbar-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#skills"><i class="fas fa-burn"></i> Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#achievements"><i class="fas fa-medal"></i> Achievements</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <section id="short-description">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <h1>Me in a nutshell...
            <hr>
          </h1>
          <div class="short-description-text">
            Hello stranger! Welcome to my CV website... <p class="entry-title">This is a handmade website (with love)</p> and you can find my code in <a href="https://github.com/manos2864/resume-website" target="_blank">github <i
                class="fab fa-github"></i></a>. <br> Ahh.. i
            forgot, <p class="entry-title">my name is Emmanouil Tsikniadopoulos</p> and i have completed the following degrees, <p class="entry-title">BSc in Computing</p> and <p class="entry-title">MSc in Software Engineering</p> with distinction.<br>I
            have a delightful personality and I am full of energy for Computer Science
            Projects <i class="fas fa-laptop-code"></i>.<br>
            <p class="entry-title">My hobbies are</p> consisted of 3D Printing <i class="fas fa-cubes"></i>, animal care <i class="fas fa-cat"></i>, movies <i class="fas fa-film"></i>, video gaming <i class="fas fa-gamepad"></i>,
            traveling <i class="fas fa-plane"></i> and reading for something new <i class="fab fa-leanpub"></i>.<br>I really hope you find this website very easy to navigate so you can explore my skills, certifications and my portfolio. <p
              class="entry-title">Have fun exploring
              my World
              <i class="fas fa-globe-americas"></i> !</p>
          </div>
        </div>
        <div class="col-lg-6 image-profile">
          <img class="person-image" src="/assets/image-profile-me.png"></img>
        </div>
      </div>
    </div>
  </section>

  <section id="skills">
    <div class="container-fluid">
      <h1>A view in my skills
        <hr>
      </h1>
      <div class="row">
        <div class="col-lg-6 skills-column">
          <div class="card">
            <div class="card-header">
              <h2 class="card-title">Tool Skills</h2>
            </div>
            <div class="card-body">
              <div class="card-text">
                <p>Expert knowledge of Graphic Application (PhotoShop).</p>
                <p>Advanced knowledge of Webmatrix, Wamp and SQL Developer software.</p>
                <p>Advanced knowledge of Compiler software (JGrasp, Visual Studio 2015, Eclipse, Android Studio, IntelliJ IDEA and Netbeans).</p>
                <p>Beginner's knowledge of JDeveloper software.</p>
                <p>Beginner's knowledge of computer game engine development such as Unreal Engine 4 and Unity 5.5.</p>
                <p>Beginner's knowledge of After Effects.</p>
                <p>Beginner's knowledge in 3D Scan.</p>
                <p>Beginner's Knowledge (MeshLab, Simplify3D, SketchUp 2016).</p>
                <p>Beginner's knowledge of three-dimensional modeling (3dsMax and Blender).</p>
                <p>Beginner's knowledge of network programs (Wireshark and Cisco Packet Tracer).</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 skills-column">
          <div class="card">
            <div class="card-header">
              <h2 class="card-title">Programming Skills</h2>
            </div>
            <div class="card-body">
              <div class="card-text">
                <p>Advanced knowledge of Java - JavaFX, C# and Visual Basic.</p>
                <p>Advanced knowledge of Search Engine Optimization (SEO).</p>
                <p>Advanced knowledge on Android Development.</p>
                <p>Advanced knowledge on relational databases (MySql, MSSQL, Oracle).</p>
                <p>Advanced knowledge in REACT, HTML5, CSS3 and PHP.</p>
                <p>Familiar with the integration and deployment of augmented reality applications through the Wikitude API.</p>
                <p>Beginner's knowledge of Javascript, JQuery, nodeJS, eJS and AJAX.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="achievements">
    <div class="container-fluid">
      <h1><i class="fas fa-medal"></i> My Recent Achievements <i class="fas fa-medal"></i>
        <hr>
      </h1>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center borderless"><i class="far fa-hand-point-right"></i>Traveled in 4 / 10 top countries of my list<span class="badge badge-primary badge-dark">2016 - 2019</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center"><i class="far fa-hand-point-right"></i>MSc in Software Engineering Degree with Distinction<span class="badge badge-primary badge-dark">2017 - 2018</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center"><i class="far fa-hand-point-right"></i>Development of Augmented Reality Academic Guide Android App<span class="badge badge-primary badge-dark">2017 - 2018</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center"><i class="far fa-hand-point-right"></i>I started to help people with vision problems via "Be my Eyes" App<span class="badge badge-primary badge-dark">2018 -
            2018</span></li>
      </ul>
    </div>
  </section>

  <section id="download-cv">
    <div class="jumbotron">
      <h1 class="display-4">Find my CV here</h1>
      <p class="lead">If you want to see my creative CV, click the button below to <mark>download</mark> it.</p>
      <hr class="my-4">
      <ul class="list-inline">
        <li class="list-inline-item">
          <form method="get" action="assets/custom-resume-el.pdf">
            <button type="submit" class="btn btn-dark btn-lg">Greek Version</button>
          </form>
        </li>
        <li class="list-inline-item">
          <form method="get" action="assets/custom-resume-en.pdf">
            <button type="submit" class="btn btn-light btn-lg">English Version</button>
          </form>
        </li>
      </ul>
    </div>
  </section>

  <a href="#header" class="back-to-top" title="Back to top">
    <i class="fa fa-arrow-circle-up"></i>
    <p>Back to Top</p>
  </a>

  <section id="footer">
    <div class="container-fluid">
      <div class="social-icons">
        <span>Find me:</span><a href="https://www.linkedin.com/in/emmanouil-tsikniadopoulos-75ba1560/" target="_blank"><i class="fab fa-linkedin fa-2x" title="LinkedIn"></i></a><a href="mailto:manos.tsik7@gmail.com?Subject=Hello%20Emmanouil" target="_top" title="Send me an email"><i class="fas fa-envelope fa-2x"></i></a>
      </div>
      <p>This page has been created by me! @<%= footerTimestamp %></p>
    </div>
  </section>

  <!-- jQuery JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- BootStrap JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- ScrollSpy JavaScript for Hide/Show effect -->
  <script src="/js/scrollspy.js" type="text/javascript" charset="utf-8"></script>
  <!-- Custom JavaScript -->
  <script src="/js/utility.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>
