<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Portfolio</title>
  <!-- BootStrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Lightbox CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
  <!-- Custom Css -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Indie+Flower|Pacifico" rel="stylesheet">
</head>

<body>

  <section id="header">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"><%= personName %></a>
        <button class="navbar-toggler anim-btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
          <div class="anim-icon"><span></span><span></span><span></span><span></span></div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="<%= homeURL %>"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="<%= portfolioURL %>"><i class="fas fa-book"></i> Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= certificationsURL %>"><i class="fas fa-certificate"></i> Certifications</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <section id="portfolio-body">
    <div class="container-fluid">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Portfolio</h1>
          <svg class="pulse" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <circle id="Oval" cx="512" cy="512" r="512"></circle>
            <circle id="Oval" cx="512" cy="512" r="512"></circle>
            <circle id="Oval" cx="512" cy="512" r="512"></circle>
          </svg>
          <p class="lead"><i class="fa fa-quote-left"></i> A personal page with all of my creations. You can find many projects that i have made on my own. There are web apps or native apps from my academic or business life. <i
              class="fa fa-quote-right"></i></p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 outer-col">
          <div class="card">
            <div class="card-body">
              <img src="/assets/nextsteam-site.JPG" class="img-fluid" alt="nextsteam eshop">
              <h1 class="card-title">Nextsteam e-shop</h1>
              <h6 class="card-subtitle mb-2 text-muted">Developed Year: 2016</h6>
              <hr>
              <div class="card-text">
                <p>An eshop developed with Opencart the most powerful store management open-source platform.</p>
                <p>Many of the extensions in this eshop are made by me. For example, reward system, eliquid calculation and tracking of the basket for free shipping.</p>
                <div class="card-footer bg-transparent border-success"></div>
                <p>I had worked with Javascript, PHP, HTML, CSS, Opencart MVC-L pattern, Web Server setup, SEO optimization and with XML files.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 outer-col">
          <div class="card">
            <div class="card-body">
              <img src="/assets/nextsteam-android.jpg" class="img-fluid" alt="nextsteam android app">
              <h1 class="card-title">Nextsteam Android Application</h1>
              <h6 class="card-subtitle mb-2 text-muted">Developed Year: 2015</h6>
              <hr>
              <div class="card-text">
                <p>A handmade android application made with Java and Android Studio.</p>
                <p>It started as a native app and then evolved in a hybrid app because of the e-shop upgrade. I combined the e-shop functionality and synchronization in the android environment.</p>
                <div class="card-footer bg-transparent border-success"></div>
                <p>I had worked with Java, Gradle techniques, User-Agent Control techniques, Android Environment, Javascript, Facebook / Google API.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 outer-col">
          <div class="card">
            <div class="card-body">
              <img src="/assets/nextsteam-desktop-app.JPG" class="img-fluid" alt="nextsteam desktop app">
              <h1 class="card-title">Nextsteam Desktop Application</h1>
              <h6 class="card-subtitle mb-2 text-muted">Developed Year: 2018</h6>
              <hr>
              <div class="card-text">
                <p>A handmade application for windows desktop computers.</p>
                <p>This application is made with Java, JavaFX library and eclipse.</p>
                <p>The database of this application is a XML file. The application fetch the data of this XML file and present the products to the user with a simple and fast way.</p>
                <div class="card-footer bg-transparent border-success"></div>
                <p>I had worked with Java, Javafx library, CSS and eclipse IDE.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 outer-col">
          <div class="card">
            <div class="card-body">
              <img src="/assets/stories-for-queens-site.jpg" class="img-fluid" alt="stories for queens eshop">
              <h1 class="card-title">Stories for Queens e-shop</h1>
              <h6 class="card-subtitle mb-2 text-muted">Developed Year: 2015</h6>
              <hr>
              <div class="card-text">
                <p>An eshop developed with Opencart the most powerful store management open-source platform.</p>
                <div class="card-footer bg-transparent border-success"></div>
                <p>I had worked with Javascript, PHP, HTML, CSS, Opencart MVC-L pattern, SEO optimization, Web Server setup and with XML files.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 outer-col">
          <div class="card">
            <div class="card-body">
              <img src="/assets/stories-for-queens-android-app.jpg" class="img-fluid" alt="stories for queens android app">
              <h1 class="card-title">Stories for Queens Android App</h1>
              <h6 class="card-subtitle mb-2 text-muted">Developed Year: 2016</h6>
              <hr>
              <div class="card-text">
                <p>A handmade android application made with Java and Android Studio.</p>
                <p>In this application i had combined the e-shop functionality with the android environment (Hybrid App).</p>
                <div class="card-footer bg-transparent border-success"></div>
                <p>I had worked with Java, Gradle techniques, Android Environment, Javascript, Facebook / Google API.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 outer-col">
          <div class="card">
            <div class="card-body">
              <img src="/assets/mpservice-android.jpg" class="img-fluid" alt="mp service android app">
              <h1 class="card-title">Mp Service Android App</h1>
              <h6 class="card-subtitle mb-2 text-muted">Developed Year: 2018</h6>
              <hr>
              <div class="card-text">
                <p>A handmade android application made with Java and Android Studio.</p>
                <p>The goal of this app was to appear the customer building expenses from the internal database of a desktop app. In addition, i had to provide a unique way for the account creation, a way to translate to english language the data
                  which
                  was in greek language only and to develop a way to the customers to make the payments of the building expenses easily.</p>
                <div class="card-footer bg-transparent border-success"></div>
                <p>I had worked with Java, Gradle techniques, Android Environment, Server/Database Configuration and Scheduled Scripts.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 outer-col">
          <div class="card">
            <div class="card-body">
              <img src="/assets/mpservice-native-app.jpg" class="img-fluid" alt="mp service native app">
              <h1 class="card-title">Mp Service Native App</h1>
              <h6 class="card-subtitle mb-2 text-muted">Developed Year: 2018</h6>
              <hr>
              <div class="card-text">
                <p>A handmade native application made with Java, JavaFx and Eclipse.</p>
                <p>In this application i had to present the new accounts from the android applications that are was waiting for authentication. The function of this application was to make the work of the operator easier with the identification of
                  the
                  new users and to check if the remote database is sychronized.</p>
                <div class="card-footer bg-transparent border-success"></div>
                <p>I had worked with Java, JavaFx, CSS, Server/Database Configuration and Scheduled Scripts.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 outer-col">
          <div class="card">
            <div class="card-body">
              <img src="/assets/academic-ar-app.jpg" class="img-fluid" alt="mp service android app">
              <h1 class="card-title">Augmented Reality Academic Guide</h1>
              <h6 class="card-subtitle mb-2 text-muted">Developed Year: 2018</h6>
              <hr>
              <p>A handmade android application for academic purpose</p>
              <div class="card-text">
                <p>This application was created for the needs of my MSc thesis. I had to develop an application with Augmented Reality function as an academic guide. The user would be able to see the class schedule, map of the institution, POIs,
                  events, video tours in AR. In addition, the user would be able to login with facebook/google+ social networks and share AR images that he would have taken inside the app.</p>
                <div class="card-footer bg-transparent border-success"></div>
                <p>I had worked with Java, Gradle techniques, Android Environment, JSON, Wikitude API, Javascript, HTML, CSS, PHP, Firebase, Remote Online Database, 3D model creation and Facebook / Google API.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 outer-col">
          <div class="card">
            <div class="card-body">
              <img src="/assets/phone-call-id-app.JPG" class="img-fluid" alt="phone caller id app">
              <h1 class="card-title">Phone Caller ID Application</h1>
              <h6 class="card-subtitle mb-2 text-muted">Developed Year: 2017</h6>
              <hr>
              <div class="card-text">
                <p>A handmade native application made with C# and Visual Studio.</p>
                <p>The purpose of this application was to keep alert the company about who is calling. I had to connect an excel database sheet which consisted of the customers of the company. When someone was calling, the application was able to
                  identify the ID of the caller and pop up his details. The application was working as a CRM software because the company would be able to keep notes of the customers and add custom data. In addition, the application was able to keep
                  the history of the calls.</p>
                <div class="card-footer bg-transparent border-success"></div>
                <p>I had worked with C#, Visual Studio 2017, AT commands and COM serial ports.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 outer-col">
          <div class="card">
            <div class="card-body">
              <img src="/assets/pecsoft-academic-project.JPG" class="img-fluid" alt="academic project app">
              <h1 class="card-title">Application for Job Candidates Finder</h1>
              <h6 class="card-subtitle mb-2 text-muted">Developed Year: 2017</h6>
              <hr>
              <div class="card-text">
                <p>A handmade native desktop application for academic purpose</p>
                <p>This application was created for academic purpose. The goal of this application was to help companies find the most suitable candidates for job. I had to create 3 roles (Candidate/Company/Operator), each one of them with different
                  privileges and actions. The candidate had to choose his skills and the company had to find the candidate according to the needed skills.</p>
                <div class="card-footer bg-transparent border-success"></div>
                <p>I had worked with Java, JavaFx, CSS, Intellij and Server/Database Configuration.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 outer-col">
          <div class="card">
            <div class="card-body">
              <img src="/assets/cv-website.JPG" class="img-fluid" alt="CV personal website">
              <h1 class="card-title">CV Website</h1>
              <h6 class="card-subtitle mb-2 text-muted">Developed Year: 2019</h6>
              <hr>
              <div class="card-text">
                <p>A handmade CV website</p>
                <p>The purpose of this website was to create a CV personal website with portfolio and certification pages in there for the recruiter companies.</p>
                <div class="card-footer bg-transparent border-success"></div>
                <p>I had worked with HTML, Javascript, CSS, NodeJS, eJS, Bootstrap and JQuery</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <a href="#header" class="back-to-top" title="Back to top">
    <i class="fa fa-arrow-circle-up"></i>
    <p>Back to Top</p>
  </a>

  <section id="footer">
    <div class="container-fluid">
      <div class="social-icons">
        <span>Find me:</span><a href="https://www.linkedin.com/in/emmanouil-tsikniadopoulos-75ba1560/" target="_blank"><i class="fab fa-linkedin fa-2x" title="LinkedIn"></i></a><a href="mailto:manos.tsik7@gmail.com?Subject=Hello%20Emmanouil" target="_top" title="Send me an email"><i class="fas fa-envelope fa-2x"></i></a>
      </div>
      <p>This page has been created by me! @<%= footerTimestamp %></p>
    </div>
  </section>

  <!-- jQuery JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- BootStrap JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- ScrollSpy JavaScript for Hide/Show effect -->
  <script src="/js/scrollspy.js" type="text/javascript" charset="utf-8"></script>
  <!-- LightBox Javascript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js" type="text/javascript" charset="UTF-8"></script>
  <!-- Custom JavaScript -->
  <script src="/js/utility.js" type="text/javascript" charset="utf-8"></script>

</body>

</html>
